<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
    
  </head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>
    <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <div style="text-align:center">
                  <div>
                      <div style="text-align:center">
                          <h2><strong>Pengumuman <a style="color:black" href="/pengumumans/create">
                            <% if(user.level === 'Staf'){ %>
                              +
                          <%}%> 
                          </a></strong></h2>                    
                      </div>
                      <table class="ui small very compact selectable celled striped table">
                          <thead>
                            <tr>
                              <th > Nama Pengumuman </th>
                              <th > Tanggal Dibuat </th>
                              <th > Keterangan </th>
                              <% if(user.level === 'Staf'){ %>
                                <th colspan = "2"> Aksi </th>
                              <%}%>
                            </tr>
                          </thead>
                          <tbody>
                            <%for(let i = 0 ; i < pengumumans.length; i++){%>
                            <tr>
                              <td><%= pengumumans[i].namapengumuman %></td>
                              <td><%= pengumumans[i].tgldibuat %></td>
                              <td><%= pengumumans[i].keterangan %></td>
                              <td >
                              <% if(user.level === 'Staf'){ %>
                                <td >
                                    <a style="color:black" href="/pengumumans/edit/<%=pengumumans[i].id %>">Edit</a>
                             </td>
                             <td>
                                    <a style="color:black" href="/pengumumans/delete/<%=pengumumans[i].id %>"onclick="return confirm('Anda Yakin Data Dihapus?')">Hapus</a>
                             </td>   
                               </td>
                               <%}%>                
                            </tr>
                            <%} %>
                          </tbody>
                        </table>
                  </div>                          
              </div>
          </div> 
          <div class="col-sm-6">
              <div style="text-align:center">
                  <div>
                      <div style="text-align:center">
                          <h2><strong>Agenda<a style="color:black" href="/agendas/create">
                            <% if(user.level === 'Staf'){ %>
                              +
                          <%}%>   
                          </a></strong></h2>                    
                      </div>
                      <table class="ui small very compact selectable celled striped table">
                          <thead>
                            <th> Tanggal </th>
                            <th> Waktu Acara </th>
                            <th> Keterangan </th>
                            <% if(user.level === 'Staf'){ %>
                              <th colspan = "2"> Aksi </th>
                            <%}%>
                          </thead>
                          <tbody>
                            <%for(let i = 0 ; i < agendas.length; i++){%>
                            <tr>
                              <td><%= agendas[i].tanggal %></td>
                              <td><%= agendas[i].waktuacara %></td>
                              <td><%= agendas[i].keterangan %></td>
                              <td >
                              <% if(user.level === 'Staf'){ %>
                                <td >
                                    <a style="color:black" href="/agendas/edit/<%=agendas[i].id %>">Edit</a>
                             </td>
                             <td>
                                    <a style="color:black" href="/agendas/delete/<%=agendas[i].id %>"onclick="return confirm('Anda Yakin Data Dihapus?')">Hapus</a>
                             </td>   
                               </td>
                              <%}%>                 
                            </tr>
                            <%} %>
                          </tbody>
                        </table>
                  </div>        
              </div>
          </div>
        </aside><!-- secondary -->
      </div>
    </div><!-- container -->
  </body>
  <footer>
    <% include partials/template/footer.ejs %>
  </footer>
</html>
