<!DOCTYPE html>
<html>
  <head>
    <% var rootPath = '../'; %>      
    <%- include(rootPath + 'partials/template/head.ejs'); %> 
  </head>
  <body>    
    <%- include(rootPath + 'partials/template/header.ejs'); %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">                
                <div>
                    <div style="text-align:center">
                        <h2><strong>Data Kegiatan RT <a style="color:black" href="/kegiatanrts/create">
                            <% if(user.level === 'Rt'){ %>
                                +
                            <% } %> 
                        </a></strong></h2>                    
                    </div>
                    <table class="ui small very compact selectable celled striped table">
                      <thead style="text-align:center" >
                          <th>Nama Kegiatan</th>
                          <th>Foto</th>
                          <th>Deskripsi</th>
                          <th>Rt</th>
                          <th>Umur</th>
                          <% if(user.level === 'Rt'){ %>
                            <th colspan = "2"> Aksi </th>
                          <% } %>
                      </thead>
                        <tbody>
                          <%for(let i = 0 ; i < kegiatanrts.length; i++){%>
                          <tr>
                            <td><%= kegiatanrts[i].namakegiatan %></td>
                            <td><%= kegiatanrts[i].foto %></td>
                            <td><%= kegiatanrts[i].deskripsi %></td>
                            <td><%= kegiatanrts[i].Rt.nama %></td>
                            <td><%= kegiatanrts[i].Rt.umur %> tahun</td>
                            <% if(user.level === 'Rt'){ %>
                            <td >
                                    <a style="color:black" href="/kegiatanrts/edit/<%=kegiatanrts[i].id %>">Edit</a>
                             </td>
                             <td>
                                    <a style="color:black" href="/kegiatanrts/delete/<%=kegiatanrts[i].id %>"onclick="return confirm('Anda Yakin Data Dihapus?')">Hapus</a>
                             </td> 
                             <% } %>             
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                </div>              
            </div><!-- primary -->       
        </div> 
      </div> 

  </body>
  <footer>      
      <%- include(rootPath + 'partials/template/footer.ejs'); %>
  </footer>
</html>