<!DOCTYPE html>
<html>
  <head>
    <% var rootPath = '../'; %>      
    <%- include(rootPath + 'partials/template/head.ejs'); %>    
  </head>
  <body>    
    <%- include(rootPath + 'partials/template/header.ejs'); %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">                
                <div>
                    <div style="text-align:center">
                        <h2><strong>Data Kegiatan RT <a style="color:black" href="/kegiatanrts/create">+</a></strong></h2>                    
                    </div>
                    <table class="">
                      <thead style="text-align:center" >
                          <th style="width:20%">Nama Kegiatan</th>
                          <th style="width:10%">Foto</th>
                          <th style="width:30%">Deskripsi</th>
                          <th style="width:15%">Rt</th>
                          <th style="width:10%">Umur</th>
                          <th style="color:black; width:20%">Aksi</th>
                      </thead>
                        <tbody>
                          <%for(let i = 0 ; i < kegiatanrts.length; i++){%>
                          <tr>
                            <td><%= kegiatanrts[i].namakegiatan %></td>
                            <td><%= kegiatanrts[i].foto %></td>
                            <td><%= kegiatanrts[i].deskripsi %></td>
                            <td><%= kegiatanrts[i].Rt.nama %></td>
                            <td><%= kegiatanrts[i].Rt.umur %> tahun</td>
                            <td >
                              <a style="color:black" href="/kegiatanrts/delete/<%=kegiatanrts[i].id %>">Hapus</a>
                              <a style="color:black" href="/kegiatanrts/edit/<%=kegiatanrts[i].id %>">Edit</a>
                            </td>
                  
                          </tr>
                          <%} %>
                        </tbody>
                      </table>
                </div>              
            </div><!-- primary -->       
        </div> 
      </div> 

  </body>
  <footer>      
      <%- include(rootPath + 'partials/template/footer.ejs'); %>
  </footer>
</html>