<article class="sidebar">
        <h1 class="sidebar-title"><strong>Agenda</strong></h1>
        <p class="sidebar-body"> <strong> Berikut Jadwal Lengkap Agenda Lurah</strong> </p>
        <div>
            <div style="text-align:center">
                <h2>Agenda<strong><a style="color:black" href="/agendas/create">+</a></strong></h2>                    
            </div>
            <table class="">
                <thead>
                  <th style="width:20%"> Tanggal </th>
                  <th style="width:20%"> Waktu Acara </th>
                  <th style="width:20%"> Keterangan </th>
                </thead>
                <tbody>
                  <%for(let i = 0 ; i < agendas.length; i++){%>
                  <tr>
                    <td><%= agendas[i].tanggal %></td>
                    <td><%= agendas[i].waktuacara %></td>
                    <td><%= agendas[i].keterangan %></td>
                    <td >
                      <a style="color:black" href="/agendas/delete/<%=agendas[i].id %>">Hapus</a>
                      <a style="color:black" href="/agendas/edit/<%=agendas[i].id %>">Edit</a>
                    </td>
          
                  </tr>
                  <%} %>
                </tbody>
              </table>
        </div>
      </article>